*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: aliceblue;
    font-size: 2rem;
    padding: 0.5rem 5rem;
}

body{
    background-color: #f2f2f2;
}

.container{
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.container div{
    background-color: white;
    flex: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap:1rem
}
.container div img{
    height: 5rem;
}
.container div h2{
    font-size:1.5rem;
    /* margin-bottom: 1rem; */
}
.container div:hover{
    transform: translate(0,-1rem);   
}
footer{
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: aliceblue;
}
@media only screen and (min-width:1442px){
    .container div p{
        font-size: 1.5rem;
    }
    .container div h2{
        font-size: 2rem;
    }
    .container div img{
        height: 10rem;
    }
}
@media only screen and (max-width:586px){
    .container div p{
        font-size: 0.75rem;
    }
    nav{
        padding: 2rem;
    }
}
@media only screen and (max-width:450px){
    .container div{
        flex:100%;
    }
    .container div p{
        font-size: 1rem;
    }
    .container div h2{
        font-size: 2rem;
    }
}
@media only screen and (max-width:384px){
    .container div p{
        font-size: 1rem;
    }
    .container div h2{
        font-size: 2rem;
    }
}
@media only screen and (max-width:322px){
    .container div p{
        font-size: 0.75rem;
    }
}
@media only screen and (max-width:248px){
    .container div p{
        font-size: 0.5rem;
    }
    .container div h2{
        font-size:1rem;
    }
    nav{
        padding: 1rem;
        font-size: 1rem;
    }
    footer{
        font-size:0.5rem;
    }
}